<!DOCTYPE html>
<html class="mailcatcher">
<head>
  <title>MailCatcher</title>
  <link href="/favicon.ico" rel="icon" />
  <%= stylesheet_tag "mailcatcher" %>
</head>
<body id="mc-app" v-cloak>
  <component :is="currentComponent"></component>

  <template id="mc-login">
    <header>
      <h1><a href="http://mailcatcher.me" target="_blank">MailCatcher</a></h1>
      <nav class="app">
        <form v-on:submit.prevent="loginSubmit">
          <ul>
            <li class="login"><input v-model="username" placeholder="login" /></li>
            <li class="password"><input v-model="password" type="password" /></li>
            <li><input type="submit" value="Login" /></li>
          </ul>
        </form>
      </nav>
    </header>
  </template>

  <template id="mc-main">
    <header>
      <h1><a href="http://mailcatcher.me" target="_blank">MailCatcher</a></h1>
      <nav class="app">
        <ul>
          <li class="search"><input type="search" placeholder="Search messages..." incremental="true" v-model="search" /></li>
          <li class="username" v-if="showLogoutButton() && userName()"><div style="padding: 11px;">{{ userName() }}</div></li>
          <li class="logout"><div class="button"  v-if="showLogoutButton()" v-on:click="logout()">Logout</div></li>
        </ul>
      </nav>
    </header>

    <table class="wrapper">
      <tr>
        <td class="folders">
          <div class="folders-wrapper">
            <ul>
              <li v-for="folder in folders" class="noselect" v-bind:class="{ 'selected': selectedOwner === folder.owner }">
                <span class="folder-name" v-on:click="selectOwner(folder.owner)">{{ folder.name }} ({{ folder.count.total }} total, {{ folder.count.new }} new)</span>
                <span class="clear-folder" v-if="folder.count.total > 0" v-on:click="clearMessages(folder.owner)">Clear</span>
              </li>
            </ul>
          </div>
        </td>
        <td class="emails">
          <nav id="messages">
            <table>
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>Received</th>
              </tr>
              </thead>
              <tbody>
                  <tr v-for="message in filteredMessages" track-by="id" v-bind:class="{ 'new': message.new, 'selected': isMessageSelected(message) }" v-bind:data-message-id="message.id" v-on:click="selectMessage(message)">
                    <td v-bind:class="{ 'blank': !message.sender }">{{ message.sender || "No sender" }}</td>
                    <td v-bind:class="{ 'blank': !message.recipients || !message.recipients.length }">{{ (message.recipients || []).join(", ") || "No receipients" }}</td>
                    <td v-bind:class="{ 'blank': !message.subject }">{{ message.subject || "No subject" }}</td>
                    <td>{{ message.created_at | moment "dddd, d MMM Y HH:mm:ss" }}</td>
                  </tr>
              </tbody>
            </table>
          </nav>
        </td>
      </tr>
    </table>
    <div id="resizer"><div class="ruler"></div></div>
    <article id="message" v-if="selectedMessage">
      <header>
        <dl class="metadata">
          <dt class="created_at">Received</dt>
          <dd class="created_at">{{ selectedMessage.created_at | moment "dddd, d MMM Y HH:mm:ss" }}</dd>
          <dt class="from">From</dt>
          <dd class="from">{{ selectedMessage.sender || "No sender" }}</dd>
          <dt class="to">To</dt>
          <dd class="to">{{ (selectedMessage.recipients || []).join(", ") || "No receipients" }}</dd>
          <dt class="subject">Subject</dt>
          <dd class="subject">{{ selectedMessage.subject || "No subject" }}</dd>
          <dt class="attachments" v-if="hasAttachments(selectedMessage)">Attachments</dt>
          <dd class="attachments" v-if="hasAttachments(selectedMessage)">
            <ul>
              <li v-for="(id, attachment) in selectedMessage.attachments"><a href="{{ attachmentUrl(selectedMessage, attachment) }}" target="_blank">{{ attachment.filename }}</a></li>
            </ul>
          </dd>
        </dl>
        <nav class="views">
          <ul>
            <li class="format tab" v-for="presentation in presentations" v-bind:class="{ 'selected': isPresentationSelected(presentation) }" v-on:click="selectPresentation(presentation)">
              <a href="#">{{ presentationDisplayName(presentation) }}</a>
            </li>
            <li class="action download"><a href="{{ downloadUrl(selectedMessage) }}" class="button" target="_blank"><span>Download</span></a></li>
            <li class="action delete"><a href="#" class="button" v-on:click="deleteMessage(selectedMessage)"><span>Delete</span></a></li>
          </ul>
        </nav>
      </header>
      <iframe class="body" v-if="selectedPresentation" v-bind:src="selectedPresentationUrl()"></iframe>
    </article>
  </template>

  <%= javascript_tag "mailcatcher" %>
</body>
</html>
